{% load staticfiles %}
<!DOCTYPE html>
<html lang="es_EC">
<head>
	<meta charset="UTF-8">
	<title>Consulta</title>
	<link rel="stylesheet" href="{% static 'libs/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/css/styles.css' %}">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #2E5937">
	  	<div class="container-fluid">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">CONSULTA REGISTRO CIVIL EN LINEA</a>
		    </div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<img src="{% static 'img/logo.png' %}" style="height: 75px; margin: 15px 50px">
			</li>
		</ul>
	  	</div>	  
	</nav>

    <section class="section" style="margin-top: 120px; padding-bottom: 0">
    	<div class="form-horizontal">
			<div class="form-group">
				<label class="sr-only">Nota</label>
				<div class="col-sm-8">
					<p><strong>NOTA: </strong><em>Cada consulta que realice tiene costo para la institución</em></p>
				</div>
			</div>
			<div class="form-group">
			    <label for="inputCedula" class="col-sm-2 control-label">Cédula</label>
			    <div class="col-sm-8">
			    	<input type="text" class="form-control" id="inputCedula" placeholder="Cédula del contribuyente">
			    </div>
			</div>						
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			    	<button id="consultar" type="submit" class="btn btn-primary">Consultar</button>
			    </div>
			</div>
		</div>
    </section>

    <section id="result" class="section result" style="padding-top: 0">
    	<hr>
    	<div class="form-horizontal">
											
		</div>
    </section>

	<script src="{% static 'libs/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'libs/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'libs/js/consulta.js' %}"></script>
</body>
</html>
